@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 800;
  src: url("../fonts/raleway/raleway-800.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Rubic";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/rubik/rubik-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Rubic";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/rubik/rubik-700.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}

body {
  margin: 0;

  font-family: "Rubic", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  color: #444444;
  background-color: #FFFFFF;

  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/*index.html*/

/*header*/

.main-header {
  width: 1040px;
  margin: 20px auto -10px;
  background-color: #FFE17F;
}

.navigation-user {
  width: 1040px;
  margin: 0 auto;
  display: flex;
  align-items: center;
}

.search-form {
  width: 517px;
  height: 40px;
}

.search-button {
  font-size: 16px;
}

.header-login-list {
  width: 231px;
  margin: 0;
  margin-left: 26px;
  padding: 0;
}

.header-login-item {
  display: inline;
  list-style: none;
}

.navigation-image {
  margin-right: 12px;
}

.navigation-list {
  margin: 0;
  margin-left: auto;
  padding: 0;

}

.navigation-item {
  display: inline;
}

.navigation-link {
  text-decoration: none;
  color: #000000;
}

.navigation-item:not(:last-child) {
  margin-right: 36px;
}

.navigation-catalog {
  width: 1040px;
  margin: 0 auto;
  display: flex;
  align-items: center;
}

.catalog-menu {
  display: flex;
  align-items: center;
}

.catalog {
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: 21px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #000000;
  margin: 0 7px 0 0;
}

.catalog-item-link {
  font-size: 16px;
  line-height: 18px;
  text-decoration: none;
  color: #000000;
}

.menu-list {
  margin: 0;
  margin-left: auto;
  padding: 0;
}

.menu-item {
  display: inline;
}

.menu-item:not(:last-child) {
  margin-right: 45px;
}

.menu-item-link {
  margin: 0;
  padding: 0;
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #000000;
  text-decoration: none;
}

/*product-slider*/

.main-index {
  width: 1440px;
  margin: 0 auto;
  flex-grow: 1;
}

.product-slider {
  margin-bottom: 70px;
}

.product-one,
.product-two,
.product-three {
  width: 1160px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.product-wrapper {
  width: 560px;
  }

.product-button {
  background-color: inherit;
  border: none;
  padding: 0;
}

.product-prev {
  position: absolute;
  margin-left: 30px;
  margin-top: 211px;
}

.product-next {
  position: absolute;
  margin-left: -20px;
  margin-top: 211px;
}

.description-wrapper {
  width: 560px;
}

.product-number {
  display: inline-block;
  padding-top: 100px;
  padding-bottom: 100px;

  font-weight: 700;
  font-size: 180px;
  line-height: 30px;
  color: #000000;
}

.product-title {
  margin: 0;
  margin-bottom: 29px;
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 50px;
  line-height: 50px;
  color: #000000;
}

.product-description {
  margin: 0;
  margin-bottom: 50px;
}

.button {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.2em;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
  background-color: #FFFFFF;
  border: none;
}

.properties-button {
  width: 220px;
  height: 40px;
  margin-bottom: 50px;
}

.properties-list {
  margin: 0;
  padding: 0;
  list-style: none;

  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.properties-item {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.properties {
  font-size: 36px;
  line-height: 30px;
  color: #000000;
}

.properties-description {
  max-width: 280px;
  display: flex;
  flex-wrap: wrap;
  font-size: 16px;
}

/*category*/

.category {
  margin-bottom: 70px;
}

.category-list {
  width: 1160px;
  margin: 0 auto;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
}

.category-item {
  width: 160px;
  list-style: none;

}

.category-item-wrapper {
  height: 160px;
  margin-bottom: 32px;
  text-decoration: none;

  display: flex;
  justify-content: center;
  align-items: center;

  color: #000000;
  background-color: #FFE17F;
}

.category-item:nth-child(2) .category-item-wrapper .category-item-image {
  align-self: flex-end;
}

.category-item-description {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  line-height: 24px;
  letter-spacing: -0.02em;
  color: #000000;
}

/*services-slider*/

.services-slider {
  width: 1160px;
  margin: 0 auto;
  margin-bottom: 70px;
  display: flex;
  background-color: #F0F0F0;
}

.services-button {
  width: 280px;
  border-right: 7px solid #000000;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.services-button-list {
  padding: 0;
}

.services-button-item {
  margin: 0;
  padding: 0;
  list-style: none;
}

.services-button-item:not(:last-child) {
  margin-bottom: 35px;
}

.services-button-one,
.services-button-two,
.services-button-three {
  width: 160px;
  height: 40px;
}

.services-text {
  width: calc(1160px - 287px);
}

.services-text-wrapper {
  display: flex;
  margin: 72.5px 63px 72.5px 116px;
}

.services-image-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;
}

.services-title {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 50px;
  line-height: 50px;
  margin: 0;
  margin-bottom: 34px;
  color: #000000;
}

.services-description {
  width: 452px;
  margin: 0;
}

/*delivery*/

.delivery {
  width: 1160px;
  height: 100px;
  margin: 0 auto;
  margin-bottom: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #F0F0F0;
}

.delivery-car-image-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 125px;
  height: 100px;
  background-color: #FFE17F;
}

.delivery-description {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 20px;
  line-height: 23px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #000000;
}

.delivery-button {
  padding: 0;
  width: 125px;
  border: none;
}

/*about-us*/

.about-us-contacts-wrapper {
  width: 1160px;
  margin: 0 auto;
  margin-bottom: 70px;
  display: flex;
  justify-content: space-between;
}

.about-us {
  width: 520px;
  display: flex;
  flex-direction: column;
}

.about-us-title {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 50px;
  line-height: 50px;
  color: #000000;

  margin: 40px auto 48px 0;
}

.about-us-text {
  margin: 0;
  margin-bottom: 30px;
}

.delivery-company-list {
  margin: 0;
  margin-bottom: 30px;
  padding: 0;
}

.delivery-company-item {
  font-weight: 700;
  line-height: 20px;
  letter-spacing: -0.02em;
  color: #000000;
}

.delivery-company-item:not(:last-child) {
  margin-bottom: 19px;
}

.delivery-company-item::marker {
  color: #FFC700;
  margin-left: 30px;
}

.about-us-button {
  width: 270px;
  height: 40px;
}

/*contacts*/

.contacts {
  width: 532px;

  display: flex;
  flex-direction: column;
}

.contacts-title {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 50px;
  line-height: 50px;
  color: #000000;
  margin: 40px auto 48px 0;
}

.contacts-text {
  margin: 0;
  margin-bottom: 30px;
}

.contacts-adress {
  font-weight: 700;
  font-size: 24px;
  margin: 0;
  margin-bottom: 15px;
}

.contacts-address-address {
  margin-bottom: 30px;
}

.contacts-adress-text {
  font-style: normal;
  margin: 0;
}

.contacts-phone {
  font-style: normal;
  color: #444444;
}

.contacts-schedule {
  font-weight: 700;
  font-size: 24px;
  margin: 0;
  margin-bottom: 15px;
}

.contacts-schedule-list {
  margin: 0;
  margin-bottom: 30px;
  padding: 0;
}

.contacts-schedule-item {
  list-style: none;
}

.contacts-button {
  width: 259px;
  height: 40px;
}

/*subscribe*/

.subscribe {
  background-color: #F0F0F0;
}

.distribution-wrapper {
  width: 1160px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 64px 133px 144px 147px;
}

.subscribe-title {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 50px;
  line-height: 50px;
  margin: 0;
  color: #000000;
}

.subscribe-text {
  margin: 0;
}

.subscribe-wrapper {
  width: 1158px;
  display: flex;
  align-items: center;
  margin: 0 auto;
  padding-bottom: 56px;
}

.subscribe-field {
  width: 557px;
  height: 47px;
  border: none;
  border-bottom: 3px solid #C4C4C4;
  background-color: inherit;

  font-family: "Rubic", sans-serif;
  font-size: 18px;
  line-height: 30px;
  font-size: 18px;
  color: #444444;
  }

.subscribe-field::placeholder {
  opacity: 0.5;
  }

.subscribe-button {
  width: 253px;
  height: 54px;
  background-color: inherit;
  border: 3px solid #C4C4C4;
}

.subscribe-free-wrapper {
  width: 160px;
  margin-left: auto;
}

/*main-footer*/

.main-footer {
  background-color: #444444;
  color: #FFFFFF;
}

.footer-wrapper {
  width: 1160px;
  margin: 0 auto;

  display: flex;
}

.footer-logo-address-line {
  width: 239px;
  margin: 62px 119px 0 0;

  display: flex;
  flex-direction: column;
}

.footer-logo {
  display: block;
  margin-bottom: 35px;
}

.footer-address-text {
  font-style: normal;
  font-size: 16px;
  line-height: 20px;
  margin: 0;
  margin-bottom: 64px;
}

.footer-menu-social {
  width: 444px;
  margin: 137px auto 61px 0;

  display: flex;
  flex-direction: column;
}

.footer-menu {
  margin-bottom: 62px;
}

.footer-menu-list {
  margin: 0;
  padding: 0;

  display: flex;
  justify-content: space-between;
}

.footer-menu-item {
  display: inline;
}

.footer-menu-link {
  text-decoration: none;
}

.footer-menu-title {
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  display: inline;
  color: #FFFFFF;
}

.footer-social-list {
  padding: 0;
  margin: 0;

  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  justify-content: center;
}

.footer-social-item {
  margin: 0;
  display: inline;
}

.social-button {
  text-decoration: none;
}

.footer-phone-academy-link {
  display: flex;
  flex-direction: column;
  width: 175px;
  margin: 140px 0 65px 0;
}

.footer-phone {
  font-style: normal;
  font-size: 16px;
  line-height: 20px;
  width: 175px;
  color: #FFFFFF;

  margin-bottom: 63px;
}

.footer-academy-link {
  margin-top: auto;
  margin-left: auto;

}






























/*catalog.html*/

.main-inner {
  font-size: 16px;
  line-height: 20px;
  color: #000000;
}

/*inner-header*/

.inner-header {
  width: 1040px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  margin-top: 55px;
  margin-bottom: 34px;
}

.inner-header-title {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 50px;
  line-height: 50px;
  margin: 0;
  margin-bottom: 15px;
}

.breadcrumbs-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.breadcrumbs-item {
  display: inline;
}

.breadcrumbs-item:not(:last-child) {
  margin-right: 16px;
}

.breadcrumbs-link {
  text-decoration: none;
  color: #000000;
}

/*main-inner*/
.main-inner {
  flex-grow: 1;
}

/*catalog-body*/
.catalog-body {
  background-color: #F0F0F0;
}

.catalog-body-body {
  width: 1111px;
  margin: 0 auto;

  display: flex;
}

/*product-filter*/

.product-filter {
  width: 320px;
  display: flex;
  flex-direction: column;
  align-content: center;
}

.catalog-filter {
  background-color: #F0F0F0;
}

.catalog-filter-group {

  border: 0 none;
}

.filter-title {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  line-height: 19px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}

.catalog-filter-title {
  font-weight: 700;
  letter-spacing: -0.02em;
}

.filter-button {
  background-color: inherit;
}

/*sorting-products-wrapper*/
.sorting-products-wrapper {
  width: 840px;
  display: flex;
  flex-direction: column;
}

/*sorting*/
.sorting {
  width: 840px;
  height: 70px;

  display: flex;
  align-items: center;

  background-color: #F0F0F0;
}

.sorting-wrapper {
  width: 760px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  margin: 0 40px;
}

.sorting-text {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  line-height: 19px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}

.select-control {
  font-family: "Rubic", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  width: 141px;
  height: 30px;
}

.select-button {
  text-decoration: none;
}

/*products*/

.products {
  background-color: #FFFFFF;
}

.products-body-wrapper {
  margin: 70px 40px auto;
}







.product-list {
  padding: 0;
  margin: 0;
  margin-bottom: 44px;

  display: grid;
  grid-template-columns: 360px 360px;
  gap: 44px 40px;
}

.product-item {
  list-style: none;
}


.product-link {
  text-decoration: none;

  display: grid;
  grid-template-columns: 226px 77px;
  grid-template-rows: 380px 40px;
  gap: 32px 57px;

  grid-template-areas: "img img"
                       "descr price";
}

.product-img {
  display: block;
  grid-area: img;
}

.product-name {
  font-weight: 700;
  font-size: 18px;
  letter-spacing: -0.02em;

  display: block;
  color: #000000;

  grid-area: descr;
}

.product-price {
  font-size: 18px;
  line-height: 21px;
  text-align: end;
  grid-area: price;
}

.load-more {
  width: 760px;
  height: 55px;
  font-size: 16px;
  line-height: 19px;
  border: 3px solid #E5E5E5;

  margin-bottom: 44px;
}

/*pagination-list*/

.pagination-wrapper {
  width: 760px;
  height: 71px;
  margin-bottom: 78px;

  display: flex;
  justify-content: space-between;
  align-items: center;

  background-color: #EBEBEB;
}

.pagination-link-previous,
.pagination-link-next {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  text-decoration: none;
}

.pagination-link-previous {
  box-sizing: border-box;
  width: 128px;
  text-align: center;
  color: #444444;
  opacity: 0.3;
}

.pagination-list {
  display: flex;

  padding: 0;
  margin: 0;
}

 .pagination-item {
  display: inline;
}

.pagination-link {
  display: block;
  box-sizing: border-box;
  width: 40px;
  height: 40px;
  text-align: center;
  padding: 10px;

  text-decoration: none;
  color: #444444;
  opacity: 0.3;
}

.pagination-link-active {
  color: #444444;
  opacity: 0.6;
}

.pagination-link-next {
  box-sizing: border-box;
  width: 141px;
  text-align: center;
  color: #000000;
}
